// Greene Realty LLC 2019 color guide:
$primary-green: #004f11;
$secondary-green: #009421;
$accent-green: #73b366;
$main-grey: #666666;
$stone-grey: #393e44;
$primary-tan: #f0eade;
$standard-font-weight: 700;