@media print {
  *,
*::before,
*::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }

  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }

  .container {
    min-width: 992px !important;
  }

  .navbar {
    display: none;
  }

  .badge {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }
  .table td,
.table th {
    background-color: #fff !important;
  }

  .table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6 !important;
  }

  .table-dark {
    color: inherit;
  }
  .table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
    border-color: #dee2e6;
  }

  .table .thead-dark th {
    color: inherit;
    border-color: #dee2e6;
  }
}
body, p {
  font-family: "Open-Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
}

.navbar, .nav, .post-author-name, button, strong {
  font-family: "Oswald", sans-serif;
}

.sub-title {
  font-weight: 900;
  font-size: 1.45rem;
  letter-spacing: 0.021rem;
  margin-bottom: 1rem;
}

.text-content {
  font-weight: 100;
  font-size: 1.15rem;
  letter-spacing: 0.4px;
  line-height: 1.5rem;
}

@media (min-width: 992px) {
  .big-title {
    font-size: 5.25rem;
    font-weight: 800;
  }

  .little-title {
    font-size: 4rem;
    font-weight: 800;
  }

  .sub-title {
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: 0.021rem;
  }

  .text-content {
    font-weight: 100;
    font-size: 1.15rem;
    letter-spacing: 0.4px;
  }

  .service-card-body .card-body .text-content {
    font-size: 1.15rem;
  }
}
.btn, .btn-md {
  border: 1px solid #003b0d;
  background: #004f11;
  border-radius: 0;
  -webkit-box-shadow: 10px 10px 24px -1px #a6a6a6;
  -moz-box-shadow: 10px 10px 24px -1px #a6a6a6;
  box-shadow: 10px 10px 24px -1px #a6a6a6;
  color: #fff;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 45px;
  margin: 1em 0 1em 0;
  overflow: hidden;
  padding: 0.25rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.btn-link:focus {
  text-decoration: none;
}

.btn-md:hover:after {
  background: #FFF;
  border: 20px solid #9ef39e;
  opacity: 0.3;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.btn-secondary {
  background-color: white;
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  margin: 1em;
}

.btn:hover {
  background: #00400e;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 black;
  transition: all 250ms linear;
}

.dropdown-toggle {
  height: 65px;
  width: 10%;
  margin: 1rem;
}

.btn-md {
  box-shadow: none;
}

.btn-lg {
  border-width: medium;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
}

.btn-secondary:hover {
  color: white;
  border-color: #004f11;
  background-color: #004f11;
}

.btn-primary {
  background-color: #007bff;
  border: 2px solid #007bff;
  box-shadow: none;
}
.btn-primary:hover {
  border: 2px solid #007bff;
  background-color: #FFF;
  color: #007bff;
}
.btn-primary:hover:after {
  background: #FFF;
  border: 15px solid #007bff;
  opacity: 0.3;
  left: 125%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.feature svg.svg-inline--fa {
  color: white;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}
.feature p {
  font-size: 1.1rem;
}

.logo {
  padding: 10px;
}

.divider {
  color: #004f11;
  margin-left: 8px;
  margin-right: 8px;
}

.title-icon {
  margin-top: 3px;
  margin-right: 10px;
}

/* ======= NAVIGATION ========= */
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
}

.navbar .navbar-brand {
  margin-left: 1rem;
  font-size: 2.5rem;
}
.navbar .navbar-brand img {
  height: 80px;
}

.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}

.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}

.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}

.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}

.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.25rem;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: color 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #004f11;
}

.navbar .dropdown-menu .dropdown-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #004f11;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}

.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #004f11;
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #004f11;
}

.content {
  padding: 120px 0;
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }

  .navbar-nav {
    padding: 0 20px 10px;
    background-color: black;
  }

  .navbar.fixed-top .navbar-nav {
    background: transparent;
  }
}
@media screen and (min-width: 767px) {
  .banner {
    padding: 0 150px;
  }

  .banner h1 {
    font-size: 5rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;
  }

  .navbar-dark .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }

  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}
@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
.title-container {
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo-row .logo-col #main-title {
  font-size: 2.25em;
  margin-top: 7px;
  padding-left: 14px;
}
.logo-row .logo-col img {
  height: 75px;
  width: 100%;
}

.title-row span {
  font-size: 12px;
}

.two-col-container {
  background-image: url(../assets/img/mtn.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.two-col-img-container {
  box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.75);
  background: white;
  margin-top: 5em;
}

.landing-img {
  margin-bottom: 1rem;
  padding: 1rem;
}

.landing-card {
  border: 0;
  border-radius: 0;
}

.landing-card-body h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.card .icon-col ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.card .icon-col ul > li:first-child {
  border-top: 0;
}
.card .icon-col ul > li {
  display: block;
  color: #515052;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.021em;
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
  padding-left: 53px;
  position: relative;
}
.card .icon-col ul > li > i {
  display: block;
  position: absolute;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  color: #004f11;
  top: 0.5rem !important;
  font-size: 0.9375rem;
  line-height: 36px;
  text-align: center;
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.11);
}
.card .icon-col ul > li > .svg-inline--fa {
  display: block;
  position: absolute;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.11);
  color: #004f11;
  padding: 10px;
  font-size: 0.9375rem;
}
.card .icon-col ul > li > span {
  display: block;
  padding-bottom: 1px;
  color: #8c8c8c;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.card .icon-col ul > li > a {
  display: block;
  color: #515052;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.021em;
  text-decoration: none;
}

.icon-container .icon-span {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5625rem 1.125rem 0 rgba(64, 64, 64, 0.14);
  box-shadow: 0 0.5625rem 1.125rem 0 rgba(64, 64, 64, 0.14);
  margin-top: 1em;
}
.icon-container .landing-img-icon {
  display: inline-block;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  height: 100%;
}

.two-col-text-container {
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@media (min-width: 992px) {
  .landing-card-body h6 {
    margin-top: 0;
    margin-bottom: 0.75rem;
    color: #515052;
  }

  .landing-img {
    margin-top: 1rem;
    border-radius: 0%;
  }

  .img-contact {
    margin-bottom: 1rem;
    margin-left: 1em;
  }
  .img-contact p {
    font-size: 1em;
    font-weight: 800;
  }

  .two-col-img-container {
    margin-left: 5%;
    margin-top: 6.5em;
    margin-bottom: 9em;
  }

  .landing-img {
    width: 100%;
  }

  .two-col-text-container {
    margin-top: 15rem;
    margin-bottom: 5rem;
  }
  .two-col-text-container h2 {
    font-size: 3em;
    margin-bottom: 0.75em;
  }
  .two-col-text-container p {
    font-size: 1.15em;
  }
  .two-col-text-container .icon-container .icon-span {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 0.5625rem 1.125rem 0 rgba(64, 64, 64, 0.14);
    box-shadow: 0 0.5625rem 1.125rem 0 rgba(64, 64, 64, 0.14);
    margin-top: 1em;
  }
  .two-col-text-container .icon-container .landing-img-icon {
    display: inline-block;
    padding-left: 1.85rem;
    padding-top: 1.75rem;
    padding-right: 1.75rem;
    padding-bottom: 1.75rem;
    height: 100%;
  }
}
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
  font-size: 2.4rem;
}

.accordion-card {
  box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.09);
  text-decoration: none;
  background-color: none;
  border: none;
}
.accordion-card .card-header {
  background: none;
  padding: 0;
}

.two-col-container {
  background-image: url(../assets/img/mtn.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#about {
  background-color: #f5f0e7;
}

.profile-card-header {
  padding: 1.5rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.nav-tabs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0;
}
.nav-tabs .profile-link {
  background-color: #e9ecef;
  border: none;
  color: #515052;
  line-height: 4em;
  margin-bottom: 0;
  padding: 1rem;
  text-decoration: none;
}
.nav-tabs .profile-link:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.1);
  box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.1);
}
.nav-tabs .profile-link span {
  margin-left: 0.5em;
  font-size: 1.25em;
}
.nav-tabs .profile-link.active {
  color: #fff;
  background-color: #004f11;
}

.profile-card-body {
  display: none;
  padding: 1.5rem;
}
.profile-card-body figure {
  padding: 0.25rem;
  -webkit-box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.09);
  box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.09);
}
.profile-card-body figure img {
  padding: 0.35rem;
}
.profile-card-body figure figcaption {
  margin-left: 0.5em;
  font-size: 0.75em;
  font-weight: 100;
}

.profile-card-body.active {
  display: block;
}

#about h5 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-weight: 900;
  font-size: 2.125rem;
  letter-spacing: 0.021rem;
}

.fixed img {
  display: block;
  width: 100%;
}

.dark {
  background-color: #f1f1f1;
  color: #515052;
  padding: 4rem 2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}
.fixed-background p {
  margin-top: 1.5rem;
}

#section-banner-a {
  background-image: url(../assets/img/mtn.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.services-container .img-title-wrapper {
  z-index: 1000;
}

.service-col .service-card #icon-col-b ul > li {
  padding-left: 65px;
}
.service-col .service-card #icon-col-b ul > li > i {
  display: block;
  position: absolute;
  left: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff;
  color: #004f11;
  top: 0.5rem !important;
  font-size: 0.9375rem;
  line-height: 36px;
  text-align: center;
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.11);
}
.service-col .service-card #icon-col-b ul > li > .svg-inline--fa {
  display: block;
  position: absolute;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1.25rem 0 rgba(0, 0, 0, 0.11);
  color: #004f11;
  padding: 10px;
  font-size: 0.9375rem;
}
.service-col .service-card #icon-col-b ul > li > span {
  display: block;
  padding-bottom: 1px;
  color: #8c8c8c;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.service-col .service-card #icon-col-b ul > li > a {
  display: block;
  color: #515052;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.021em;
  text-decoration: none;
}
.service-col .service-card .post-thumb {
  display: block;
  position: relative;
}
.service-col .service-card .post-thumb > img {
  display: block;
  width: 100%;
}
.service-col .service-card .service-card-body {
  padding: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.service-col .service-card .service-card-body .card-header {
  border: none;
}
.service-col .service-card .service-card-body .card-body {
  padding: 0.5rem;
}

#service-block .svg-inline--fa {
  margin-left: 1em;
}

@media (min-width: 992px) {
  #section-banner-a {
    background-size: cover;
  }
  #section-banner-a:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .service-col .service-card .service-card-body {
    padding: 1.25rem;
  }
  .service-col .service-card .service-card-body .card-body {
    padding: 1em;
  }
}
.contact-container {
  background-color: #f5f0e7;
}

.card {
  border: none;
  border-radius: 0%;
  -webkit-box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgba(64, 64, 64, 0.09);
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgba(64, 64, 64, 0.09);
}
.card:after {
  display: block;
  position: absolute;
  bottom: -0.625rem;
  left: 1.25rem;
  width: calc(100% - 2.5rem);
  height: 2.1875rem;
  background-color: #fff;
  -webkit-box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgba(64, 64, 64, 0.09);
  box-shadow: 0 1.1875rem 1.75rem 0.3125rem rgba(64, 64, 64, 0.09);
  content: "";
  z-index: -1;
}

.client-card {
  background: none;
  border: none;
}

.client-card .post-format {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fff;
  color: #004f11;
  font-size: 1rem;
  line-height: 34px;
  text-align: center;
  -webkit-box-shadow: 0 0.5625rem 1.125rem 0 rgba(64, 64, 64, 0.14);
  box-shadow: 0 0.5625rem 1.125rem 0 rgba(64, 64, 64, 0.14);
}

.client-card-body {
  flex: 1 1 auto;
  padding: 1rem 2rem 1rem 2rem;
}
.client-card-body .review-text {
  display: block;
  position: relative;
  margin-top: 0.75rem;
  padding-bottom: 0.625rem;
  font-size: 0.85rem;
  line-height: 1.4;
  letter-spacing: 0.4px;
}
.client-card-body .review-text > a {
  transition: color 0.3s;
  text-decoration: none;
}
.client-card-body .tag-link {
  display: inline-block;
  position: relative;
  margin-top: 0.3125rem;
  margin-right: 0.375rem;
  margin-bottom: 0.3125rem;
  padding: 0.3125rem 0.75rem;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  background-color: #fff;
  color: #404040;
  font-size: 0.6875rem;
  font-weight: 600;
  text-decoration: none;
  -webkit-box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.09);
  box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.09);
  z-index: 1;
}

.client-card .client-card-footer {
  display: flex;
  align-items: center;
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);
  background: linear-gradient(to right, #71B280, #134E5E);
  border-top: 1px solid #e7e7e7;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
}
.client-card .client-card-footer .post-author {
  display: table;
  text-decoration: none;
}
.client-card .client-card-footer .post-author .post-author-avatar {
  display: table-cell;
  width: 28px;
  vertical-align: middle;
}
.client-card .client-card-footer .post-author .post-author-avatar > img {
  display: block;
  border-radius: 50%;
  width: 100%;
}
.client-card .client-card-footer .post-author .post-author-name {
  color: white;
  display: table-cell;
  padding-left: 0.5rem;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: 0.7;
  vertical-align: middle;
}
.client-card .client-card-footer .post-meta > span, .client-card .client-card-footer .post-meta > a {
  margin-left: 10px;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  color: white;
  font-size: 0.625rem;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.7;
}

.carousel-card {
  background: white;
  margin-top: 2em;
}

#clientCarousel {
  overflow: hidden;
}
#clientCarousel .carousel-item {
  background: none;
}

.carousel-card-content {
  border: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.655s ease;
  background-color: rgba(32, 35, 36, 0.582);
}

.overlay-link {
  color: white;
}

.carousel-card-pic-col {
  background: url("../assets/img/oly-1.png");
  background-size: cover;
  padding-right: 0;
}
.carousel-card-pic-col:hover .overlay {
  opacity: 1;
}
.carousel-card-pic-col:hover .overlay {
  opacity: 1;
}

.carousel-card-content-col {
  padding: 1em;
}
.carousel-card-content-col .carousel-card-text {
  color: #707070;
  font-size: 22px;
  font-weight: 100;
  padding-left: 2em;
  padding-right: 2em;
}
.carousel-card-content-col .carousel-card-text p {
  margin-top: 8px;
  margin-bottom: 0;
}
.carousel-card-content-col cite {
  font-size: 1em;
}

.carousel-indicators li {
  background-color: #515052;
}

h3.carousel-heading {
  font-size: 1.25rem;
  font-weight: 750;
  margin-bottom: 0;
  margin-left: 1em;
  text-align: right;
}

.fa-quote-left {
  color: #004f11;
}

.clients-hr {
  border-top: 0.15rem solid #ffffff;
  margin-top: 12px;
  margin-bottom: 10px;
  width: 35.5%;
}

.star-row-container {
  margin-left: 0.15em;
  display: block;
}
.star-row-container .fa-star {
  color: #004f11;
}

.client-footer {
  background: none;
  display: table;
  margin-left: 3rem;
  padding: 0.5rem 0 0 0;
}

.client-avatar {
  display: table-cell;
  width: 48px;
  vertical-align: middle;
}
.client-avatar img {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0.5rem 0;
}

.blockquote-footer {
  margin-bottom: 0.75em;
  position: relative;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
}
.blockquote-footer::before {
  content: "";
}
.blockquote-footer cite {
  display: block;
  color: #8c8c8c;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 992px) {
  .carousel-container {
    display: block;
  }

  .carousel-card-pic-col {
    box-shadow: 4px 4px 25px 5px rgba(207, 207, 207, 0.995);
  }

  .carousel-card-content-col {
    line-height: 19px;
    padding: 0.5em 1em 0 1em;
  }
  .carousel-card-content-col .carousel-card-text {
    font-size: 15px;
    font-weight: 100;
    padding-left: 2.5em;
    padding-right: 2em;
    margin-bottom: 0;
  }

  .client-card-body {
    flex: 1 1 auto;
    padding: 2rem 3.5rem 2rem 3.5rem;
  }
  .client-card-body .review-text {
    display: block;
    position: relative;
    margin-top: 0.75rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.4px;
  }
  .client-card-body .review-text > a {
    transition: color 0.3s;
    text-decoration: none;
  }
  .client-card-body .tag-link {
    display: inline-block;
    position: relative;
    margin-top: 0.3125rem;
    margin-right: 0.375rem;
    margin-bottom: 0.3125rem;
    padding: 0.3125rem 0.75rem;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    background-color: #fff;
    color: #404040;
    font-size: 0.6875rem;
    font-weight: 600;
    text-decoration: none;
    -webkit-box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.09);
    box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64, 64, 64, 0.09);
    z-index: 1;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.contact-card {
  box-shadow: 0 1px 10px 0 #b8b5b5;
}

.form-row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-input-main {
  border: none;
  background-color: transparent;
}

.form-row > [class*=col-] {
  padding-left: 12px;
}

.form-group-icon {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.75rem;
}
.form-group-icon span {
  margin-right: 12px;
}

footer {
  background-color: #515052;
  color: white;
  padding: 2rem 0 2rem;
}
footer img {
  height: 5rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}

hr.socket {
  width: 97%;
  border-top: 0.2rem solid #666b71;
  margin-top: 3rem;
}

@media (max-width: 767px) {
  .caption h1 {
    font-size: 3.3rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1 {
    font-size: 1.5rem;
  }

  .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}
.caption {
  top: 13%;
}
.caption h1 {
  font-size: 4rem;
}
.caption h3 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .caption {
    top: 20%;
  }
}
@media (min-width: 992px) {
  .caption {
    top: 38%;
  }
}

/*# sourceMappingURL=app.css.map */
