body{
  color: #505962;
  /* font-family: 'PerunRegular'; */
  overflow-x: hidden;
}

body::-webkit-scrollbar { width: 0 !important }

.offset:before{
  display:block;
  content: "";
  height: 4rem;
  margin-top: -4rem;  
}

/* Bootstrap Padding Fix */
[class*='col-1']{
  padding: 1rem;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/