- var btnMd = ['btn', 'btn-secondary', 'btn-md']
- var btnLg = ['btn', 'btn-outline-light', 'btn-lg']
- var play_icon = ['fas', 'fa-play-circle', 'fa-4x']
- var slider_icon = ['fas', 'fa-sliders-h', 'fa-4x']
- var page_icon = ['fab fa-wpforms fa-4x']
- var money_icon = ['fas', 'fa-money-bill-wave', 'fa-3x']
- var quote_icon = ['fas', 'fa-quote-left']
- var facebook_icon = ['fab', 'fa-facebook-square']
- var instagram_icon = ['fab', 'fa-instagram']
- var twitter_icon = ['fab', 'fa-twitter-square']
- var user_icon = ['fa', 'fa-user']
- var envelope_icon = ['fa', 'fa-envelope']
- var paperplane_icon = ['far', 'fa-paper-plane', 'ml-1']