
// ============ ICONS ============ //
.feature{
  svg.svg-inline--fa {
    color: white;
  }
  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
  }
  p {
    font-size: 1.1rem;
  }
}
// Landing Page Icons
.logo{
  padding: 10px;
}
.divider{
  color: $primary-green;
  margin-left: 8px;
  margin-right: 8px;
}
.title-icon{
  margin-top: 3px;
  margin-right: 10px;
}