// BUTTONS
%btn-style-override{
  border: 1px solid darken($primary-green, 4%);
  background: lighten($primary-green, 0);
  border-radius: 0;
  -webkit-box-shadow: 10px 10px 24px -1px rgba(166,166,166,1);
  -moz-box-shadow: 10px 10px 24px -1px rgba(166,166,166,1);
  box-shadow: 10px 10px 24px -1px rgba(166,166,166,1);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 45px;
  margin: 1em 0 1em 0;
  overflow: hidden;
  padding: .25rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%;
    // animation :after DIV
    // &:after{
    //   background: #FFF;
    //   border: 0px solid rgb(199, 199, 199);
    //   content: "";
    //   height: 145px;
    //   left: -95px;
    //   opacity: .8;
    //   position: absolute;
    //   top: -45px;
    //   -webkit-transform: rotate(47deg);
    //           transform: rotate(47deg);
    //   width: 50px;
    //   /* animation = easeOutCirc */
    //   transition: all 1s cubic-bezier(0.475, 0.82, 0.265, 1);
    //   z-index: 1;
    // }
    //   &:hover:after{
    //     background: #FFF;
    //     border: 15px solid rgba(53, 53, 53, 0.5);
    //     opacity: 0.3;
    //     left: 125%;
    //     -webkit-transform: rotate(40deg);
    //             transform: rotate(40deg);
    //   }
}

%btn-md-style{
  @extend %btn-style-override;
  &:hover:after{
    background: #FFF;
    border: 20px solid rgb(158, 243, 158);
    opacity: 0.3;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }  
}

%btn-secondary-style{
  background-color: white;
  border-width: medium;
  border-radius: 0;
  // padding: .6rem 1.2rem;
  // font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1em;
}
