  .accordion-card{
    box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.09);
    text-decoration: none;
    background-color: none;
    border: none;
    .card-header{
      background: none;
      padding: 0;
    }
  }
