// ======= SERVICES ======== //
.services-container{
  // background-image: url(../assets/img/arrow.png);
  // background-position: 81% 450px;
  // background-repeat: no-repeat;
}
.service-col{
  // border: 1px solid black;
  .service-card{
    .post-thumb{
      display: block;
      position: relative;
    }
    .post-thumb>img{
      display: block;
      width: 100%;
    }
    .service-card-body{
      padding: 1rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .card-body{
        padding: .5rem;
      }
      .service-title{
        display: block;
        margin-top: 0;
        margin-bottom: 0.75rem;
        font-weight: 900;
        font-size: 2.125rem;
        letter-spacing: 0.021rem;
      }
      .service-title>a{
        color: #515052;
        -webkit-transition: color .3s;
        transition: color .3s;
        text-decoration: none;
      }
    }
  }
}
#accordion {
  .svg-inline--fa {
    margin-left: 1em;
  }
}
@include media-breakpoint-up(lg){
  .service-col{
    .service-card{
      .service-card-body{
        padding: 1.25rem;
        .card-body{
          padding: 1em;
        }
      }
    }
  }
}