// ======= SERVICES ======== //
#section-banner-a{
  background-image: url(../assets/img/mtn.jpg);
  background-repeat: no-repeat;
  background-size: contain;
	// &:after {
	// 	box-shadow:inset 0px -200px 50px -125px rgba(255,255,255,1);
	// 	content: '';
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 999;
	// }
}
.services-container{
  .img-title-wrapper{
    z-index: 1000;
  }
}
.service-col{
  // border: 1px solid black;
  .service-card{
    #icon-col-b{
      ul>li{
        padding-left: 65px;
      }
        // icons
        ul>li>i{
          display: block;
          position: absolute;
          left: 0;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: #fff;
          color: $primary-green;
          top: .5rem !important;
          font-size: .9375rem;
          line-height: 36px;
          text-align: center;
          box-shadow: 0 0.5rem 1.25rem 0 rgba(0,0,0,0.11);
        }
        ul>li>.svg-inline--fa{
          display: block;
          position: absolute;
          left: 0;
          width: 36px;
          height: 36px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 0 0.5rem 1.25rem 0 rgba(0,0,0,0.11);
          color: $primary-green;
          padding: 10px;
          font-size: .9375rem;
        }
        // sub titles
        ul>li>span{
          display: block;
          padding-bottom: 1px;
          color: #8c8c8c;
          font-size: .75rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        // text links
        ul>li>a{
          display: block;
          color: $stone-grey;
          font-size: 1rem;
          font-weight: bold;
          letter-spacing: .021em;
          text-decoration: none;
        }
    }

    .post-thumb{
      display: block;
      position: relative;
    }
    .post-thumb>img{
      display: block;
      width: 100%;
    }
    .service-card-body{
      padding: 1rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .card-header{
        border: none;
      }
      .card-body{
        padding: .5rem;
      }
    }
  }
}
#service-block {
  .svg-inline--fa {
    margin-left: 1em;
  }
}
@include media-breakpoint-up(lg){
  #section-banner-a{
    background-size: cover;
    &:after {
      content: '';
      // -webkit-box-shadow: inset -162px 16px 23px -25px rgba(255,255,255,1);
      // -moz-box-shadow: inset -162px 16px 23px -25px rgba(255,255,255,1);
      // box-shadow: inset -162px 16px 23px -25px rgba(255,255,255,1);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
    }
  }
  .service-col{
    .service-card{
      .service-card-body{
        padding: 1.25rem;
        .card-body{
          padding: 1em;
        }
      }
    }
  }
}