#description.offset
  .col-12.narrow.text-center
    h1 Client First Brokerage Services
    p.lead the very best serving Olympia, WA
    p.lead Here for you from the start
    p.lead Relationships rooted in trust and communication
    a(class=btnMd href='#' target="_blank") Get in Touch