nav.navbar.navbar-expand-md.navbar-dark.navbar-nav
  .container
    a.navbar-brand(href='#') BEN GAUBERT
      //- img(src="../styles/assets/img/BenGaubert.png" id="profile-pic")
    button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#main-nav')
      span.menu-icon-bar
      span.menu-icon-bar
      span.menu-icon-bar
    #main-nav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li
          a.nav-item.nav-link.active(href='#') Home
        li
          a.nav-item.nav-link(href='#') Meet Ben
        li
          a.nav-item.nav-link(href='#') Services
        li.dropdown
          a.nav-item.nav-link(href='#' data-toggle='dropdown') Contact
          .dropdown-menu
            a.dropdown-item (206) 471-9205
            a.dropdown-item bengaubert@greenerealty.com
            a.dropdown-item 500 Greene Way

