#about.offset
  .fixed-background
  .fixed-wrap
  .fixed
    .row.dark.text-center
      .col-12
        h3.heading All About Ben
        .heading-underline
      .col-md-4
        h3 Fishing
        .feature
          i(class=money_icon)
        p.lead An unmatched attention to detail
      .col-md-4
        h3 Cooking
        .feature
          i(class=money_icon)
        p.lead Guiding the way
      .col-md-4
        h3 Community
        .feature
          i(class=money_icon)
        p.lead Getting the right deal