#about.offset
  .fixed-background
  .fixed-wrap
  .fixed
    .row.dark.text-center
      .col-12
        h1 All About Ben
        .heading-underline
      .col-md-4.col-sm-12
        h5 Fishing
        //- img(src="../styles/assets/img/country-house.jpg", alt="")
        .feature
          i(class=money_icon)
        p.lead An unmatched attention to detail
      .col-md-4.col-sm-12
        h5 Cooking
        //- img(src="../styles/assets/img/country-house.jpg", alt="")
        .feature
          i(class=money_icon)
        p.lead Guiding the way
      .col-md-4.col-sm-12
        h5 Community
        //- img(src="../styles/assets/img/country-house.jpg", alt="")
        .feature
          i(class=money_icon)
        p.lead Getting the right deal