#about.offset
  .jumbotron 
    .narrow.text-center
      .col-12
        h3.heading Services
        .heading-underline
      .row.text-center
        .col-md-4
          .feature
            i(class=play_icon data-fa-transform="shrink-3 up-5")
            h3 Buying
            p Serving Olympia, WA
        .col-md-4
          .feature
            i(class=slider_icon data-fa-transform="shrink-4.5 up-4.5")
            h3 Selling
            p Serving Olympia, WA
        .col-md-4
          .feature
            i(class=page_icon data-fa-transform="shrink-4.5 up-4.5")
            h3 Managing
            p Serving Olympia, WA
