//- ====== LANDING TITLE
.container
  .col-sm-12.title-container.text-center
    .row.logo-row
      .col-sm-4.logo-col
        .row.justify-content-end
          img(src='../styles/assets/img/logo.png')
      .col-sm-8.logo-col.align-self-center
        .row
          h1#main-title BEN GAUBERT
          .col-sm-12.logo-col
            .row.title-row.no-gutters
              i.title-icon(class=envelope_icon)
              span (206) 451-8000
              i.title-icon(class=envelope_icon)
              span bengaubert@greenerealty.com